{{- $arch := .chezmoi.arch -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $arch = "x86_64" -}}
{{- else if eq .chezmoi.arch "arm64" -}}
{{-   $arch = "aarch64" -}}
{{- end -}}

# lazygit - not available via cargo
[".local/bin/lazygit"]
    type = "archive"
{{- if eq .chezmoi.os "darwin" }}
    url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ .lazygit_version }}/lazygit_{{ .lazygit_version }}_Darwin_{{ if eq .chezmoi.arch "arm64" }}arm64{{ else }}x86_64{{ end }}.tar.gz"
{{- else if eq .chezmoi.os "linux" }}
    url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ .lazygit_version }}/lazygit_{{ .lazygit_version }}_Linux_{{ if eq .chezmoi.arch "arm64" }}arm64{{ else }}x86_64{{ end }}.tar.gz"
{{- end }}
    refreshPeriod = "168h"
    executable = true

# television - not available via cargo (Rust, but not published to crates.io)
[".local/bin/tv"]
    type = "archive"
{{- if eq .chezmoi.os "darwin" }}
    url = "https://github.com/alexpasmantier/television/releases/download/{{ .television_version }}/tv-{{ .television_version }}-{{ $arch }}-apple-darwin.tar.gz"
{{- else if eq .chezmoi.os "linux" }}
    url = "https://github.com/alexpasmantier/television/releases/download/{{ .television_version }}/tv-{{ .television_version }}-{{ $arch }}-unknown-linux-gnu.tar.gz"
{{- end }}
    refreshPeriod = "168h"
    executable = true
