[user]
    name = {{ .git_name }}
    email = {{ .git_email }}

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.config/git/ignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = false
    
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    rebase = false

[init]
    defaultBranch = main

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --graph --oneline --all
